@using Cinema.Models
@model DetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="row">
        <div class="coll-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Country</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FilmCountries)
                    {
                        <tr>
                            <td>
                                @item.Country.Name
                            </td>
                        </tr>
                        

                    }
                </tbody>
            </table>
        </div>
    </div>
<div class="row">
    <div class="coll-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Janre</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FilmJanres)
                {
                    <tr>
                        <td>
                            @item.Janre.Name
                        </td>
                    </tr>


                }
            </tbody>
        </table>
        <div class="col-md-12">
            @{
                string youtubeId = Model.Film.Link.Split('=')[1];
            }
            <iframe width="560" height="315" src="https://www.youtube.com/embed/@youtubeId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
